aioprometheus==23.12.0
apex==0.1
boto3==1.28.25
cn2an==0.5.22
colossalai==0.3.1
cpm-kernels==1.0.11
cugraph-dgl==23.6.0
cugraph-service-server==23.6.0
cuml==23.6.0
deepspeed==0.14.0
evalplus==0.3.1
evaluate==0.4.1
expecttest==0.1.3
fairscale==0.4.13
faiss-gpu==1.7.2
flash-attn==1.0.7
Flask==3.0.3
func-timeout==4.3.5
fuzzywuzzy==0.18.0
graphsurgeon==0.4.6
grpcio-status==1.71.2
httptools==0.6.1
hypothesis==5.35.1
immutabledict==4.1.0
ipdb==0.13.13
jieba==0.42.1
jupyter-tensorboard==0.2.0
jupyterlab==2.3.2
jupytext==1.14.7
langdetect==1.0.9
librosa==0.9.2
lit==17.0.3
llamafactory==0.8.3.dev0
ltp==4.2.13
mkl-devel==2021.1.1
mmengine==0.8.4
mmengine-lite==0.10.3
mock==5.0.2
mpi4py==3.1.4
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-dali-cuda120==1.27.0
nvidia-nvtx-cu11==11.7.91
nvidia-pyindex==1.0.9
onnx==1.14.0
OpenCC==1.1.7
opencv-contrib-python==4.8.1.78
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
pip==24.0
polygraphy==0.47.1
pyarrow-hotfix==0.6
pybind11==2.10.4
pycocotools==2.0+nv0.7.3
pylibcugraphops==23.6.0
PyMySQL==1.1.0
pypinyin==0.50.0
pytest-flakefinder==1.1.0
pytest-rerunfailures==12.0
pytest-shard==0.1.2
pytest-xdist==3.3.1
python-dotenv==1.0.1
python-hostlist==1.23.0
python-Levenshtein==0.23.0
pytorch-quantization==2.1.2
rank-bm25==0.2.2
rouge==1.0.1
rouge-chinese==1.0.3
rouge-score==0.1.2
sacrebleu==2.3.1
seaborn==0.13.2
sentence-transformers==2.2.2
spacy==3.5.4
tensorboard==2.9.0
tensorrt==8.6.1
timeout-decorator==0.5.0
torch-tensorrt==1.5.0.dev0
torchaudio==2.1.0
torchtext==0.16.0
transformers-stream-generator==0.0.4
types-dataclasses==0.6.6
uff==0.6.9
uvloop==0.19.0
vllm==0.5.0
watchfiles==0.21.0
xdoctest==1.0.2
xgboost==1.7.5
